.control input.info {
    border: none;
    color: inherit;
    background-color: inherit;
    cursor: inherit;
}

.control input.info + .icon {
    color: $grey-dark;
}

body {
    min-height: 100%;
    background-image: linear-gradient(to top, #0072ba, #00a5d9, #1dd9f0);
}

html {
    height: 100%;
}
