@import url(https://fonts.googleapis.com/css?family=Nunito);.control input.info {
  border: none;
  color: inherit;
  background-color: inherit;
  cursor: inherit;
}

.control input.info + .icon {
  color: #4a4a4a;
}

.box,
.button,
.file-cta,
.file-name,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
  border-radius: 20px !important;
}

